
.head-image{
    background: url('../img/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    height: 600px;
}
.head-image{
    color: white;
    text-shadow: 2px 2px #000;
}

.contact-form{
    background: url('../img/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    background-position: center;
    padding: 50px 0px;
}
.contact-div,.contact-form input,.contact-form textarea{
    background: rgba(224, 224, 224, 0.4);
    border-radius: 6px;
    border: none;    
}

.contact-form input,.contact-form textarea{
    color: white;
}
.contact-form input:focus,.contact-form textarea:focus{
    color: white;
}


.contact-form input:focus,.contact-form textarea:focus{
    background: rgba(224, 224, 224, 0.4);                
    box-shadow: none;
}
.contact-form input::placeholder,.contact-form textarea::placeholder{
    color: #dedede;
}
.contact-div{    
    padding: 20px;    
}
.contact-form input,.contact-form textarea{
    margin: 10px 0px;    
}
.contact-form textarea{
    height: 130px;
}